

.wrapper{
  
  position: relative;
  
}



.markercluster-map {
  height: 90vh;
}



.leaflet-container{
  margin-top: 1%;
  border-radius: 1%;
  position: relative;
  z-index: 1;
}


.back-btn{
  display: flex;
  margin-right: 15%;
  text-align: center;
  margin-left: 76.5%;
  background-color:rgb(39, 37, 37);
  color: white;
  margin-top: 0.5%;
  padding: 8px;
  border: hidden;
  margin-bottom: 10px;
  cursor: pointer;
  position: absolute;
  z-index: 3;
}